<?xml version="1.0"?>
<model>
  <name>stallion_vtol</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  
  <author>
    <name>Salila</name>
  </author>
  
  <description>
    Flightory Stallion tilt-tri VTOL for ArduPilot SITL.
    Two front tilting motors + one rear vertical motor.
  </description>
</model>
